
body{
    background-image: linear-gradient(to right,  #ddecd4 ,#def8d2  400%);
    font-family: 'Baloo Tamma 2', Georgia;
}
.cabecera{
	background-image: linear-gradient(to right, #cbe06c  8%,#65eb77 120%);
	width: 100%;
	height: 5em;
    box-shadow: 10px 10px 5px 0px rgba(214, 213, 213, 0.75);
}
select {
    font-size: 1.2em;
    align-content: center;
    color:rgb(0, 0, 0);
    border: 3px solid #b3c953;
    height: 2em;
    background: #d1e47f;
    left: 31em;
}
h2{
    text-align: center;
}
span{
    color: rgb(197, 40, 40);
}
.logo{
	width: 6%;
	float: right;
	margin-right: 3em;	
}
h1{
	display: inline-block;
	margin-left: 12em;
	margin-top: 1em;
	color: rgba(209, 51, 51, 0.993);
}
.logosilabo{
	width: 9%;
	float: left;
	padding-top: 7px;
	margin-left: 2em;
}
form{
    display: flex;
    justify-content: center;
}
p{
    padding-top: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.3em;
}
div#listaDocentes{
    display: inline-block;
    justify-content: center;
    position: relative;
    left: 32em;
    align-items: center;    
}
div div {
    color: rgb(36, 35, 35);
    background-color: #d1e47f96;
    font-size: 1.2em;
    display: flex;
    justify-content: left;
    border:  0.1em solid  #b3c953 ;
    border-radius: 0.2em;
    margin: 1em;
    padding: 0.5em;
    width: 22em;
}


